/*
Custom Css
*/

body {
    padding-top: 130px;
  }

/*-------Header-------*/

.services-icon-wap {
    background: #fff;
    text-align: center;
    padding: 2em;
  }
/*-------Nosotros-------*/
.image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: all 0.3s ease;
    padding: 20px;
}
.image img:hover {
    transform: scale(1.2);
}
#scrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #198754;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
  }
